
html,head,body{
    margin: 0%;
    padding: 0%;
    border: 0%;
}
.topcontainer{
    display: flex;
    justify-content: space-between;
    width: 825px;
}
.blue{
    background-color: rgb(0, 238, 255);
    height: 75px;
    width: 250px;
    /* display: inline-block;
    margin-right: 10px; */
}
.yellowblock{
    background-color: yellow;
    height: 100px;
    width: 800px;
    position:absolute;
    top: 210px;
    z-index: 9;
}
.bigblue{
    background-color: rgb(0, 238, 255);
    height: 225px;
    width: 800px;
    margin-top: 10px;
    position: relative;
    z-index: 9;
}
.moon{
    height: 50px;
    width: 50px;
    background: rgb(30, 252, 1);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
}
.mountain{
    width: 0px;
    height: 0px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid forestgreen;
    position: absolute;
    top: 160px;
    left: 500px;
    z-index: 10;
    opacity: 75%;
}
.smallmountain{
    width: 0px;
    height: 0px;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom: 125px solid rgb(255, 0, 0);
    position: absolute;
    top: 20.4%;
    left: 40vw;
    z-index: 9;
}
div div{
    opacity: 75%;
}